/* HEADER  */
@import url('header.css');

/* MAIN  */
main{
    background-color: cornsilk;
    max-width: 70%;
    height: 70%;
    margin: auto;
}

.content{
    padding: 10px 20px;
    box-sizing: border-box;
}

.content h2{
    font-size: 20px;
    padding :10px
}

.content h3{
    font-size : 14px;
    padding :8px
}
.content p{
    font-size : 10px;
    padding :6px;
    margin-left: 10px;
    /* text-indent: 10px; */
    /* letter-spacing: 2px; */
    line-height: 18px;
    
}
