/* HEADER  */
@import url('header.css');

/* MAIN  */
main{
    background-color: #000;
    max-width: 70%;
    margin: auto;
    color: aliceblue;
}

.content{
    padding: 10px 20px;
    box-sizing: border-box;
}

.content h2{
    font-size: 20px;
    padding :10px
}

.content h3{
    font-size : 14px;
    padding-top :12px;
    padding-bottom :12px;
}
.content h4{
    font-size : 14px;
    padding-top :12px;
    padding-bottom :12px;
}


.content p{
    font-size : 10px;
    padding :2px;
    margin-left: 10px;
    line-height: 18px;
    
}
.content .indent{
    margin-left: 30px;
}
